* {
    padding: 0;
    margin: 0;
font-family: 'Times New Roman', Times, serif;}

html {
    font-size: 95%;

}

.header {
    padding: 0 4.8rem;
    height: 5rem;
    justify-content: space-between;
    align-items: center;


}

.navbar-list {
    gap: 2.8rem;
    list-style: none;

}

.navbar-links {
    position: relative;
    color: #a19090;
    text-decoration: none;
    padding-bottom: 5px;

}



.appright{
    height: 50px;
    width: 40px;
    border-left:1px solid #d7d7d7;


    
}





.navbar-links::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
   background: linear-gradient(120deg, hwb(0 0% 9%), rgb(158, 9, 9));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}



.navbar-links:hover::after {
 
   
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-nav{
    background-color: rgb(37, 66, 92);
}

.mobile-navbar-btn{
   
    background-color: transparent;
    cursor: pointer;

}
.mobile-nav-icon{
    width: 5rem;
    height: 4rem;
}

.mobile-nav-icon[name="close-sharp"]{
    display: none;
}



@media screen  and (max-width:63em ){
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
        border: 3px;
        color: black;
    }
    .header .logo{
      height: 40%;
margin: -50px;
    }


    .navbar-top{
        display: none;
    }
    .appright{
        display: none;
    }
    .button{
        display: none;
    }
    .mobile-nav-icon{
        margin-left: 250px ;
    }
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: hidden;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: changeText 9s infinite;
}

.text {
    opacity: 0;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: typing 3s steps(40, end) forwards, blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

@keyframes changeText {
    0%, 33.333%, 66.666%, 100% {
        opacity: 0;
    }
    5%, 28.333%, 61.666%, 95% {
        opacity: 1;
    }
}

.type {
    display:inline-flex;
  }
  
  .type span {
    word-break: break-all;
    height: 1.2em;
    width:0%;
    overflow: hidden;
    animation:t 2s linear infinite alternate;
  }
  .type span:before {
    content:" ";
    display:inline-block;
  }
  
  @keyframes t{
    90%,100% {width:100%}
  }
  
  
  /**/
  
  h1 {
    display:table;
    margin:auto;
  }
  
